<testscope>
    <!-- <button ng-click="test1.runTest()" >test</button><div>{{test1.testMessage}}</div> -->
</testscope>
<testscope2>
    <!-- <button ng-click="test2.runTest()" >test</button><div>{{test2.testMessage}}</div>  -->   
</testscope2>
<div id="test" scope='test'>
	<span style="    
	position: fixed;
    left: 34%;
    top: 10%;
    color: #577fbc;
    font-size: 19px;
    font-family: monospace;
    line-height: 1;
    font-weight: 300;" ng-click="click()">
       - Welcome to your next tasksJS Project -
    </span><br>
    <span style="font-family:agency fb;">StellarHouseTechnologies {{test.test}}</span>    
</div>

 <tbl></tbl>
<!-- <msgbox></msgbox> -->