<div id="msg-back" class="back-color-{{$$msgbox.msgBack.back_color}}" ng-show="$$msgbox.show && $$msgbox.msgBack.show && $$msgbox.enabled" ng-click="$$msgbox.msgBack.clickAction($$msgbox)"></div>

<div id="msg-box" class="{{$$msgbox.msgBack.style}}-msg" ng-show="$$msgbox.show && $$msgbox.enabled">
	<div class="msg-display">
		<div class="msg-prompt">
			<span>{{$$msgbox.message}}</span>
		</div>
		<div class="msg-options">
			<button  ng-click="$$msgbox.button2.clickAction($$msgbox);$$msgbox.reset()" class="button" ng-show="$$msgbox.button2.show">{{$$msgbox.button2.caption}}</button>
			<button  ng-click="$$msgbox.button1.clickAction($$msgbox);$$msgbox.reset()" class="button" ng-show="$$msgbox.button1.show">{{$$msgbox.button1.caption}}</button>
		</div>
	</div>
</div>

<style type="text/css">
	div#msg-box {
	    position: absolute;
	    left: 32%;
    	top: 25%;
	    width: 439px;
	    z-index: 109;
	    border-radius: 0;
	    box-shadow: 2px 1px 1px #c8c8c8;
    	border: 1px solid #b7b7b7;
    	border: 1px solid #918c8c;
	    padding: 8px 0 0 0;
	    background: whitesmoke;
	}

	div#msg-box div.msg-display {
	    background: white;
    	border-top: 1px solid gainsboro;
	}

	.msg-prompt {
	        margin: 0 0 9px 0;
    	font-size: 17px;
    	font-weight: 100;
    	padding: 10px 12px;
	}

	.msg-options {
	    display: inline-block;
	    width: 100%;
	}

	.msg-options button {
	    float: right;
	    margin: 0 9px;
	    min-width: 76px;
	}

	div#msg-back {
	    /*background: #7cc5ff;*/
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    z-index: 108;
	    opacity: 0.5;
	    left: 0;
	    top: 0;
	}
	div#msg-box.warning-msg{
		border-color: red;    	
	}

	div#msg-back.back-color-true{
		background: #7cc5ff;		
	}
	div#msg-box.warning-msg div.msg-display {
		background: #fffaca;
    	border-top: 1px solid #F44336;
	}

	div#msg-box.warning-msg div.msg-prompt{
		color: red;    	
	}
</style>