<div id="tbl-overlay" ng-show="tblOverlay.show" ng-click="tbl.tblOverlay.clickAction(tbl.hideFilterInput)"></div>
<div>	
	<div class="view-mode">
		<div class="view-option selected-{{viewOption.selected}} btn" ng-repeat="viewOption in tbl.viewModes.viewOptions"  ng-click="tbl.viewModes.toggle(viewOption);viewOption.clickAction(viewOption)"> 
			<span>{{viewOption.caption}}</span>
			<!-- <label>
				<input type="radio" name="view-option" ng-model="tbl.viewModes.query" ng-model="viewOption.selected">
				
			</label> -->
			
		</div>
	</div>
</div>
<div class="tbl" id="{{tbl.uniqueID}}"  ng-show="tbl.headers.length > 0" >
	<div id="tbl-background"></div>
	<div ng-show="!tbl.ready" class="loading"> 
		<img src="/images/loading.gif" class="loading">
	</div>
	<div class="tbl-head">
		<table class="data-tbl" cellspacing="1">
			<tbody>
				<tr>
					<td class="headers" style="position: relative;">
						<div class="btn" ng-click="tbl.clearAllFilters()" style="display: inline-block;height: 100%;">
							<label>
	                        	<img class="btn" src="/images/red.png" style="width: 13px;position: absolute;top: 7px;left: 5px;">
	                        	<input type="checkbox" name="" style="visibility: hidden;">
	                        </label>
						</div>						

                        <div resizable r-directions="['right']" class="btn cell {{header.pName}}" id ="{{header.pName}}" ng-repeat="header in tbl.headers" ng-click="tbl.sort(header)" ng-show="header.includeColumn">
                        	<span>{{header.fieldName}}</span>                       
                     		<span class="sorted reverse-{{tbl.sortReverse}}" ng-show="tbl.sortPropertyName === header.pName"></span>
                        </div>            	         	           
                    </td>                    
                    <td class="scrollbar-space-holder">
                    	<div class="tbl-menu">  
  							<div ng-repeat="menu in tbl.menus" class="sub-menu">	
	                    		<div class="menu-divider" ng-click="tbl.toggleMenu(tbl.menus, menu)">	                    		
	                    			<span ng-show="menu.showOptions" style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">&#9660</span>
	                    			<span ng-show="!menu.showOptions" style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;">&#9658</span>
	                    			<span>{{menu.caption}}</span>
	                    		</div>  
	                    		<div class="menu-scrollable show-{{menu.showOptions}}">
	                    		<table cellspacing="1"  class="sub-menu" ><!-- for each -->
	                    			<tbody>
	                    				<tr ng-repeat="menuOption in menu.menuOptions">
	                    					<td class="menu-option type-{{menuOption.type}}">   					
		                    					<div ng-switch on="menuOption.type" style="display: inline;">
			                    					<div class="cell btn" ng-switch-when="checkbox" ng-click="menuOption.clickAction(menuOption)">
			                    						<span>{{menuOption.caption}}</span><input ng-show={{menuOption.useInput}} type={{menuOption.type}} name="" ng-model='menuOption.value'></input>
			                    					</div>
			                    					<div class="cell btn" ng-switch-when="file" ng-click="menuOption.clickAction(menuOption)">
			                    						<span>{{menuOption.caption}}</span>
			                    						<input type={{menuOption.type}} name={{menuOption.value}} ng-model='menuOption.value' onchange="angular.element(this).scope().tbl.uploadFile(this)"></input>
			                    					</div>
			                    					<!-- when uploading a file pass the file and the name of the inupt witch will contain the path to upupload to -->
		                    					</div>
		                    				</td>
	                    				</tr>
	                    			</tbody>           
	                    		</table>
	                    		</div>	               
                    		</div>
                    		<div class="menu-divider" style="cursor:initial;height: 11px;">
                    			<span></span>
                    		</div>	
                    	</div>
                    </td>
				</tr>
			</tbody>
		</table>
		<table class="data-tbl filter-button-container" cellspacing="1">
			<tbody>
				<tr>
            	<td class="filter-button-holder headers">
            		<label>
                    	<input type="checkbox" ng-model="tbl.selectAll" ng-change="tbl.selectAllClick()">
                    </label>
                    <div class="cell {{header.pName}} filter-{{!header.filterValue1 == ''}} showFilter-{{header.showFilter}}" ng-repeat="header in tbl.headers" ng-show="header.includeColumn">
                    	<div class="show-filter-btn-{{header.showFilter}} btn" ng-click="tbl.toggleFilterTxb(header)">
	            			<span ng-show="!header.showFilter">Filter</span>
	            			<span ng-show="header.showFilter">Clear</span>
	            		</div>
	            		<div ng-switch on="header.filterType" ng-show="header.showFilter">	
		            		<div ng-switch-when="text" class="text-filter">
		            			<label>
		            				<input id="{{header.pName}}-buttom" type="text" name="" ng-model="header.filterValue1"  ng-change="tbl.filter()">
		            			</label>
		            		</div>

		            		<div ng-switch-when="number" class="number-filter">
		            			<div class="filter-controls">
			            			<label>
			            				<span>From: </span>
			            				<input id="{{header.pName}}-buttom" type="number" name="" ng-model="header.filterValue1" ng-change="tbl.filter()" max="{{header.filterValue2}}">
			            			</label><!-- <span class="infinity" ng-show="header.filterValue1 == -Infinity">&#x221e;</span> -->
		            			</div>
		            			<div class="filter-controls">
		            			<label>
		            				<span>To: </span>
		            				<input id="{{header.pName}}-top" type="number" name="" ng-model="header.filterValue2" ng-change="tbl.filter()" min="{{header.filterValue1}}">
		            			</label><!-- <span class="infinity" ng-show="header.filterValue2 == Infinity">&#x221e;</span> -->
		            			</div>
		            		</div>

		            		<div ng-switch-when="date" class="date-filter">
		            			<div class="filter-controls">
			            			<label><span>From:
			            				<input ui-date  id="{{header.pName}}-buttom" ng-model="header.filterValue1" ng-change="tbl.filter()" max="{{header.filterValue2}}">
			            			</label></span><!-- <span class="infinity" ng-show="header.filterValue1 == -Infinity">&#x221e;</span> -->
		            			</div>
		            			<div class="filter-controls">
		            			<label><span>To: 
		            				<input ui-date id="{{header.pName}}-top" ng-model="header.filterValue2" ng-change="tbl.filter()" min="{{header.filterValue1}}">
		            			</label></span><!-- <span class="infinity" ng-show="header.filterValue2 == Infinity">&#x221e;</span> -->
		            			</div>
		            		</div>
	            		</div>
	            	</div>	
            	</td >	
            	 <td style="background: none;" class="scrollbar-space-holder"></td>	            	
            </tr>
			</tbody>
		</table>
	</div>
	<div class="tbl-scrollable">
		<table class="data-tbl" cellspacing="1" infinite-scroll="tbl.increaseScrollLimit()" scroll-reset="tbl.resetScrollLimit()" scroll-reset-precentage="0.1" infinite-scroll-parent="true" >
            <tbody>		            
                <tr ng-repeat="data in tbl.filteredData | orderBy:tbl.sortPropertyName:tbl.sortReverse | limitTo:tbl.scrollLimit">
                    <td class="selected-{{data.selected}}" ng-click="tbl.selectOne(data)">
                   		<label>
                        	<input type="checkbox" ng-model="data.selected" ng-click="data.selected = !data.selected">
                        </label>

                        <div class="cell borders-{{tbl.cellBorders}} {{header.className}} wrap-text-{{tbl.wrap_text}} {{header.pName}}" ng-repeat="header in tbl.headers" ng-show="header.includeColumn">
                            <span ng-bind-html="header.processData(data[header.pName], data) | $$unsafe" >
                           		
                            </span>
                        </div>		                     		                       
                    </td>
                </tr>
            </tbody>
        </table>	
	</div>

	<div class="tbl tbl-footer">
		<table class="data-tbl" cellspacing="1">
	        <tbody>		            
	            <tr>
	                <td>                
	                    <div class="cell" ng-repeat="tblFooter in tbl.tblFooter">
	                     	<span><strong>{{tblFooter.caption}}:</strong> {{tblFooter.value(tbl)}}</span>
	                    </div>		                     		                       
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>



<style type="text/css" ng-repeat="header in tbl.headers" >
	div.{{header.pName}} {
		width:{{header.width}}px;
		
	}
	div#{{header.pName}} {
		max-width:{{header.maxWidth}}px;
	}	
</style>

<style type="text/css">
	div#{{tbl.uniqueID}} table.data-tbl td div.cell {
	    padding: {{tbl.cellPadding}};

	}
	td.headers{
		min-width:{{tbl.width}}px;
	}
	div.loading{
		width:{{tbl.width}}px;
		height:{{(tbl.height) + 'px' }};
		position: absolute;
    	top: 93px;
	}
	div#{{tbl.uniqueID}} {
	   /* max-width: {{tbl.maxWidth}}px;*/
	    position: relative;
	}

	div#{{tbl.uniqueID}} > div.tbl-scrollable{
	    max-height:{{(tbl.height) + 'px' }};
	}

	div.menu-scrollable{
		/*height of the table minus the height of each menu*/
		max-height:434px;
	}

	.cell-medium{
    	width: {{tbl.cellMedium}}px;
	}
	.cell-large{
	    width: {{tbl.cellLarge}}px;
	}
	.cell-small{
	    width: {{tbl.cellSmall}}px;
	}
</style>

