table.tbl-rec-flat td {
    background: white;
    cursor: pointer;
    padding: 0 11px;    
    height: 83px;
    position: relative;
}

table.tbl-rec-flat td div.cell {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    /* line-height: 20px; */
    /*width: 94px;*/
    height: 100%;
}
table.tbl-rec-flat td.selected-true {    
    color: #1a441c;
    background: -webkit-gradient(linear, left top, left bottom, from(#fffaf2), to(#fffce2));
}

table.tbl-rec-flat {
    width: 100%;
    background: #eaeaea;
}

table.tbl-rec-flat td div.fields_display {
    width: 40%;
}
table.tbl-rec-flat td div.fields_display > span * {
    vertical-align: top;
}
/*------------------------------------------------------*/
.tbl-menu{
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 103;
}
.tbl-menu button{
    padding: 5px 1px;
    margin: 0px 4px;
    color: #6d6d6d;
}
i.table.icon {
    font-size: 14px;
}

button.button.refresh{
    display: inline-block;    
    font-size: 22px;
    color: #6d6d6d;
    padding: 1px 16px;
    width: 68px;
}

button.button.refresh i.refresh.icon {
    position:relative; 
    left:2px;
}

div.field-name {
    display: inline-block;
    width: 211px;
    text-align: left;
}

span.field-name {
    font-weight: bold;
    color: #3fb33f;
}

/**/

span.invalid {
    position: absolute;
    top: 21px;
    width: 177px;
    right: 72px;
    z-index: -1;
    color: red;
    font-size: 14px;
}

table.tbl-rec-flat td > div.filter{
    display: block;
    height: 35px;
    width: 100%;
    background: gainsboro;
}
table.tbl-rec-flat td > div.filter > div{
    display: inline-block;
    width: 94px;
}
/**/
i.filter.icon.my-green {
    text-shadow: 0px 0px 0px #000000;
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;    
    width: 70.5px;
    height: 21px;
    background: whitesmoke;
    font-size: 18px;
    position: absolute;
    z-index: 99;  
    border: 1px solid gainsboro; 
}

i.filter.icon.my-green.hide-{
    opacity: 0;   
}

table.tbl-rec-flat td div.header.cell  i.filter.icon.my-green:hover {
    opacity: 1;
}

i.filter.icon.my-green.show-true{
    opacity:1;
}
i.filter.icon.my-green.show-false{    
    opacity: 0;
}

i.filter.icon.my-green.filtering-true{
    /*color:#af5858;*/
    opacity: 1;
}

i.filter.icon.my-red {
    text-shadow: 0px 0px 0px #000000;
    position: absolute;
    right: 0;
    top: 0;    
    font-size: 15px;
}

label.filter-input {
    display: grid;
}

.popup-menu {
    position: absolute;    
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px gainsboro;
    border: 1px solid #a8a8a8;
    border: 1px solid #918c8c;
    padding: 8px;
    z-index: 101;
}

.tbl-menu .popup-menu {
    right: 36px;
    width: 271px;
    padding: 8px 0 0 0;
    background: whitesmoke;
}
.tbl-menu .popup-menu .option:hover > span {    
    color: #30a535;
}
.tbl-menu .popup-menu .option:hover{
    background: #fafafa;
}

.tbl-menu .popup-menu .option {
    border-bottom: 1px solid gainsboro;
    padding: 5px 15px;
    cursor: pointer;
    background: white;    
    /*text-shadow: 1px 1px 1px gainsboro;*/
    color: #464646;
}

.tbl-menu .popup-menu .option:first-child {
    border-top: 1px solid gainsboro;    
}

.tbl-menu > div {
    display: inline-block;
}

.tbl-menu i.edit.icon {
    font-size: 15px;
}
.tbl-menu i.hide.icon {
    font-size: 15px;
}
.tbl-menu i.remove.icon {
    color: #af5858;
    text-shadow: 0px 0px 1px #3a3a3a;
}
.tbl-menu i.corner.add.icon{
    color: #55ba60;
}
.tbl-menu i.file.excel.outline.icon {
    color: #0e7512;
}

i.filter.icon {
    color: #8cce8f;
}
i.filter.icon.clear {
    color: #af5858;
    padding: 0px 0px 11px 14px;
}

/*.popup-menu {
    height: 110px;
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px gainsboro;
    opacity: 1;
    border: 1px solid gray;
    padding: 8px;
}*/

i.caret.icon {
    font-size: 16px;
    font-weight: bold;
}
div.header.cell i.caret.icon {    
    color: #86b788;  
    position: absolute;
    right: -4px;
    top: -8px;  
}

input.number-date {
    width: 88px;
}

div.footers div.cell {
    display: inline-block;
    margin: 10px 10px;
    color: #737373;
    text-shadow: 1px 1px 1px white;
    font-weight: bold;
}

div.footers {    
    height: 45px;
    background: #f5f5f5;    
    border-top: none;
    position: relative;
    border: 1px solid gainsboro;
    border-bottom-color: #b9b9b9;
    border-top-color: white
}

div.footers div.container{
    float: right;
    margin-right: 7px;
}

table.tbl-rec-flat td div.hide-true {
    display: none;
}
.highlighted{
    background: yellow;
}

i.icons.tbl-shipping i.shipping.icon{
    font-size:20px;
    color: #424242;
}

i.icons.tbl-shipping i.corner.add.icon, i.icons.tbl-shipping i.corner.remove.icon{
    font-size: 13px;    
    text-shadow: 0px 0px 0px white;
}

div.tbl-editor {
    background: #f1efef;
    position: absolute;
    left: 30%;
    top: 66px;
    z-index: 101;    
    padding: 8px 0 0 0;
    box-shadow: 2px 2px 2px gainsboro;
    border: 1px solid #a8a8a8;
    border: 1px solid #918c8c;
}
div.tbl-editor > div{
    background: white;
}
div.tbl-editor > div.submit{
    padding: 10px 14px 5px 14px;
    height: 29px;
    position: relative;
}
div.tbl-editor > div.submit > div{
    display: table-cell;
}

div.tbl-editor > div.submit > div.button-container{
    position: absolute;
    right: 11px;
    top: 9px;
}

div.tbl-editor > div.submit > div.caption-container{
    text-align: center;
    font-size: 14px;
    color: #938661;
    font-weight: bold;
}
div.tbl-editor div.editor-row {
    padding: 7px 5px;
    border-bottom: 1px solid gainsboro;
}

div.tbl-editor div.editor-row > div{
    display: inline-block;
    padding: 1px 8px;
}
div.tbl-editor div.editor-row:first-child {
    border-top: 1px solid gainsboro;
}
div.tbl-editor div.editor-row  input[type="number"]{
    width: 67px;
}
div.tbl-editor div.editor-row span.data{
    color: #4CAF50;
}
div.tbl-editor div.editor-row div.editor-data.info{
    width: 135px;
}
div.tbl-editor div.editor-row div.editor-data{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}